@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
	--primary-color: #059669;
	--pale-green: #ecfdf5;
	--gray: #4b5563;
}

body {
	font-family: 'Open Sans', sans-serif;
}

hr {
	margin: 2rem 0rem;
}

/* spaces */
.margin-md {
	margin: 2rem;
}

/* container */
.container {
	padding: 0rem 1rem;
}

.container-center {
	max-width: 600px;
	margin: auto;
}

/* links */
.link {
	box-sizing: border-box;
	text-decoration: none;
	padding: 0.5rem 1rem;
}

.link-primary {
	background-color: var(--primary-color);
	border-radius: 0.5rem;
	color: white;
	display: block;
	max-width: 150px;
	margin: 1rem 1rem 1rem 0rem;
}

.link-secondary {
	color: var(--primary-color);
	border-radius: 0.5rem;
	border: 1px solid var(--primary-color);
	display: block;
	max-width: 150px;
	margin: 1rem 1rem 1rem 0rem;
}

/* lists */
.list-non-bullet {
	list-style: none;
	padding-inline-start: 0px;
}

.list-item-inline {
	display: inline;
	padding: 0rem 0.5rem;
}

/* navbar */
.navigation {
	background-color: var(--primary-color);
	color: white;
	padding: 1rem;
	border-bottom-left-radius: 1rem;
}

.navigation ul {
	list-style: none;
	text-align: right;
}

.navigation li {
	display: inline-block;
	padding: 0rem 0.8rem;
}

.navigation a {
	text-decoration: none;
	color: white;
}

.navigation .nav-brand {
	font-weight: bold;
}

.navigation .nav-pils {
	text-align: right;
}

.navigation .link {
	color: white;
}

.navigation .link-active {
	font-weight: bold;
}

/* header */
.hero {
	padding: 2rem;
	padding-top: 5rem;
}

.hero .hero-img {
	max: width 80%;
	width: 350px;
	display: block;
	margin: auto;
}

.hero .hero-heading {
	text-align: center;
	padding-top: 1rem;
	color: var(--gray);
}

.hero .hero-heading .heading-inverted {
	color: var(--primary-color);
}

/* section */

.section {
	padding: 2rem;
}
.section h2 {
	text-align: center;
}
.ow {
	background-color: var(--pale-green);
}

/* footer */
.footer {
	background-color: var(--primary-color);
	padding: 4rem 1rem;
	text-align: center;
	color: white;
	border-top-right-radius: 1rem;
}
.footer .link {
	color: white;
}
.footer .footer-header {
	font-weight: bold;
	font-size: large;
}
.footer ul {
	padding-inline-start: 0px;
}
