@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
	--primary-color: #059669;
	--pale-green: #ecfdf5;
	--gray: #4b5563;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}

hr {
	margin: 2rem 0rem;
}

.margin-md {
	margin: 2rem;
}
